.App {
  text-align: center;
}

.App-main {
  /* background-color: #282c34; */
  padding: 30px 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-menu {
  height: 50px;
  /* background-color: #666; */
  background-color: #a3c3b4;
  margin: 0;
  position: relative;
}

.ham-menu-icon {
  height: 30px;
  width: 30px;
  left: 0;
  position: absolute;
  left: 2%;
  top: 15%;
}

.ham-menu-icon:hover {
  cursor: pointer;
  filter: invert(100%);
}

p {
  font-size: 14px;
}

label {
  text-transform: uppercase;
  font-size: 18px;
}
